<launch>
    <!-- Start tilt joint controller -->
    <rosparam file="$(find svenzva_drivers)/config/tilt.yaml" command="load"/>
    <node name="tilt_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port
                joint_1
                joint_2
                joint_3
                joint_4
                joint_5
                joint_6
                finger_controller"
          output="screen"/>

    <!-- Start joints trajectory controller controller -->
    <rosparam file="$(find svenzva_drivers)/config/joint_trajectory_controller.yaml" command="load"/>
    <node name="controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --type=meta
                f_arm_controller
                joint_1
                joint_2
                joint_3
                joint_4
                joint_5
                joint_6"
    output="screen"/>
</launch>
