<launch>

    <!-- Set the joint names to be aggregated by the joint state publisher -->
    <rosparam param="dynamixels">[joint_1, joint_2, link_3, joint_4, joint_5, joint_6 ]</rosparam>

    <!-- Load the URDF/Xacro model of our robot -->
    <param name="robot_description" textfile="$(find svenzva_description)/robots/svenzva_arm.urdf" />

    <node name="dynamixel_joint_state_publisher" type="dynamixel_joint_state_publisher.py" pkg="svenzva_drivers" output="screen"></node>

    <!-- Publish the robot state 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" value="20.0"/>
    </node>
    
     Publish a static transform between the robot base and the world frame 
    <node pkg="tf" type="static_transform_publisher" name="world_base_broadcaster" args="0 0 0.0325 0 0 0 /world /base_link 100" /> -->

    <!-- Launch dynamixel controllers -->
    <include file="$(find svenzva_drivers)/launch/controller_manager.launch"></include>

</launch>
